<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="/login.css">

<div class="container" id="wrap">
	  <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <form action="/signup" method="post" accept-charset="utf-8" class="form" role="form"> 
                <legend>Sign Up</legend>

                    <div class="row">
                      <input type="text" name="username" value="" class="form-control input-lg" placeholder="Your Name"  />
 
                    <input type="text" name="email" value="" class="form-control input-lg" placeholder="Your Email"  />
                    <input type="password" name="password" value="" class="form-control input-lg" placeholder="Password"  />
                    <input type="password" name="confirmpassword" value="" class="form-control input-lg" placeholder="Confirm Password"  />     
   
  <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">
    <a href="/list"></a>
                     create account  </button>
            </form>          
          </div>
</div>            
</div>
</div>
